#root {  
  /* scrollbar will show in #root */
  max-height: 100vh;

  padding: 1rem;
  text-align: center;

  display: flex;
  justify-content: center;
  gap: 2rem;
}

#input-field {
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}